{% extends "layout.html" %}
{% block content %}
  {% include '_header.html' %}
  {% include '_flash.html' %}

  <h2> Are you sure you want to delete {{item.name}}? </h2>

  <form action="{{url_for('deleteItem', category_id=category_id, item_id=item.id)}}" method = 'post'>

  	<button type="submit" class="btn btn-default delete" id="submit" type="submit">
  	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
  	<a class='btn btn-default' href = '{{url_for('showItems', category_id=category_id)}}'>
  		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
  	</a>

  </form>

{% endblock %}
